---
layout: archive
permalink: /team/
title: "Team"
author_profile: true
---

{% include base_path %}
{% for post in site.team reversed %}
  {% include archive-single.html %}
{% endfor %}

<div class="team top-container">
    <div class="container-fluid">
        <div class="post">
            {% include team_member.html section_id="faculty" section_title="Faculty" section_layout="grid" %}
            {% include team_member.html section_id="faculty2" section_title="Visiting/Associate Faculty" section_layout="grid" %}
            {% include team_member.html section_id="postdoc" section_title="Postdoc Researchers" section_layout="grid" %}
            {% include team_member.html section_id="grad" section_title="Graduate Students" section_layout="grid" %}
            {% include team_member.html section_id="undergrad" section_title="Undergraduate Students" section_layout="grid" %}
            {% include team_member.html section_id="visiting1" section_title="Visiting Graduates" section_layout="grid" %}
            {% include team_member.html section_id="visiting2" section_title="Visiting Undergraduates" section_layout="grid" %}
            {% include team_member.html section_id="internal" section_title="Internal Visitors" section_layout="grid" %}
            {% include team_member.html section_id="staff" section_title="Staff" section_layout="grid" %}
            {% include team_member.html section_id="alumni" section_title="Alumni" section_layout="list" %}
            {% include team_member.html section_id="past" section_title="Past Visitors" section_layout="list" %}
        </div>
    </div>
</div>
