{% assign section_exisit = false %}
{% for member in site.data.team %}
{% if member.section == include.section_id %}
{% assign section_exisit = true %}
{% break %}
{% endif %}
{% endfor %}

{% if section_exisit %}
<section>
	<div>
		<header>
			<h1> {{ include.section_title }} </h1>
		</header>
	</div>

	<head>


    <style>


        .grid-container {


            display: grid;


            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));


            gap: 20px; /* 设置图片之间的间隔 */


        }


        .grid-container img {


            width: 100%; /* 使图片占满整个网格单元 */


        }


    </style>


	</head>


	<body>

	<div class="grid-container">
		{% for member in site.data.team %}
			{% if member.section == include.section_id %}
			{% if include.section_layout == "grid" %}
			 	
				<div style="text-align: center;"><img alt="" src="{{ site.baseurl }}/images/team/{{ member.image }}"><br>
				</div>
				
				<div style="text-align: center;"><a href="{{ member.website }}">{{ member.name }}</a><br>{{ member.bio }}<br>
				</div>			
			{% endif %}
			{% endif %}
			{% endfor %}
	</div>


	</body>
    
	{% for member in site.data.team %}
	{% if member.section == include.section_id %}
	{% if include.section_layout == "list" %}
	<ul>
		<li><a href="{{ member.website }}">{{ member.name }}</a>, {{ member.bio }}<br>
		</li>
	</ul>
	{% endif %}
	{% endif %}
	{% endfor %}
</section>
{% endif %}
