{% assign section_exisit = false %}
{% for member in site.data.team %}
{% if member.section == include.section_id %}
{% assign section_exisit = true %}
{% break %}
{% endif %}
{% endfor %}

{% if section_exisit %}
<section>
	<div>
		<header>
			<h1> {{ include.section_title }} </h1>
		</header>
	</div>

	<style>
	table {
			table-layout: auto;
		}
	</style>
    
	<table border="0" cellspacing="0" cellpadding="0" style="width: auto; height: auto;">
		<tbody>
			<tr>
			{% for member in site.data.team %}
			{% if member.section == include.section_id %}
			{% if include.section_layout == "grid" %}
				<div style="display: flex; flex-direction: column; gap: 50px; justify-content: flex-start;">
				<td style="vertical-align: top; border-style: none;">
				<div style="text-align: center;"><img alt="" src="{{ site.baseurl }}/images/team/{{ member.image }}" style="width: 100px; height: 125px;"><br>
				</div>
				<div style="text-align: center;"><a href="{{ member.website }}">{{ member.name }}</a><br>
				</div>
				{% if member.bio %}
				<div style="text-align: center;">{{ member.bio }}<br>
				{% endif %}
				</div>
				</td>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			</tr>
		</tbody>
	</table>
	{% for member in site.data.team %}
	{% if member.section == include.section_id %}
	{% if include.section_layout == "list" %}
	<ul>
		<li><a href="{{ member.website }}">{{ member.name }}</a>, {{ member.bio }}<br>
		</li>
	</ul>
	{% endif %}
	{% endif %}
	{% endfor %}
</section>
{% endif %}
